@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin:0;
    padding:0;
    
}

body {
    font-family: Poppins;
    
   
}

/* The Navbar */

.container-fluid {
    width: 95%;
    margin-right: 5%!important;
    margin-left: 5% !important;
}
.nav-link{
    font-size: 18px;
    
}

.dropdown-menu{
    display: none;
    position: absolute;
    background: #6E806E;
   

}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 0.5s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:hover{background-color:#6E806E ;}

/*Navbar Ending */



/* Index Page */
.ml16 {
    
    padding: 40px 0;
    
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
}
  

.ml16 {
    color:#402d2d;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
}
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
}
























/* The footer */


.py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.text-heading{
    color:#0000;
}
.text-para{
    color:white;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
}
.list-unstyled li a{
    text-decoration: none;

}
.list-unstyled li a:hover{
    text-decoration: underline;
}

.border-dark{
    border-color: white !important;
}
.border-end-0{
    border-right: 0;
}
.py-4{
    padding-top: 4rem;
    padding-bottom: 4rem;

}
